### Exploratory Data Analysis For All Project Data

In [1]:
import pandas as pd
import spacy 
from wordcloud import WordCloud
import matplotlib.pyplot as plt
import seaborn as sns
from collections import Counter

In [2]:
cleaned_lines_df = pd.read_csv('C:\\MSAAI\\AAI-520\\Generative_ChatBot_Final\\clean_dataset\\cleaned_movie_lines.csv')

In [3]:
cleaned_lines_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 304446 entries, 0 to 304445
Data columns (total 5 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   line_id         304446 non-null  object
 1   character_id    304446 non-null  object
 2   movie_id        304446 non-null  object
 3   character_name  304403 non-null  object
 4   line_text       304382 non-null  object
dtypes: object(5)
memory usage: 11.6+ MB

In [4]:
cleaned_lines_df.head()

  line_id character_id movie_id character_name    line_text
0   L1045           u0       m0         BIANCA  they do not
1   L1044           u2       m0        CAMERON   they do to
2    L985           u0       m0         BIANCA    i hope so
3    L984           u2       m0        CAMERON     she okay
4    L925           u0       m0         BIANCA      lets go

In [5]:
print(cleaned_lines_df.isnull().sum())

line_id            0
character_id       0
movie_id           0
character_name    43
line_text         64
dtype: int64

In [5]:
# Find rows where 'line_text' contains floats or NaN
float_lines = cleaned_lines_df[cleaned_lines_df['line_text'].apply(lambda x: isinstance(x, float))]

# Display the rows with floats
print(float_lines)

        line_id character_id movie_id  character_name line_text
2665      L6211          u98       m5           VOICE       NaN
11341    L59819         u392      m24            COLE       NaN
16833    L93095         u547      m35            ADAM       NaN
18623   L103714         u599      m38         ANTHONY       NaN
25652   L172064         u822      m52        TRENTINO       NaN
...         ...          ...      ...             ...       ...
262969  L526290        u7799     m527    MRS. JACKSON       NaN
271184  L556497        u7991     m541  MISS HENDERSON       NaN
271185  L556496        u7992     m541           PERRY       NaN
284024  L612269        u8413     m571       2ND VOICE       NaN
291008  L629553        u8657     m587            COLE       NaN

[64 rows x 5 columns]

In [7]:
cloud_text = " ".join(line for line in cleaned_lines_df['line_text'])

wordcloud = WordCloud(width=800, height=400, background_color='white', 
                      colormap='viridis', max_words=200).generate(cloud_text)

TypeError: sequence item 2665: expected str instance, float found

In [ ]:
plt.figure(figsize=(10, 5))
plt.imshow(wordcloud, interpolation='bilinear')
plt.axis('off')
plt.title('Word Cloud for Movie Overviews')
plt.show()